
@{
    ViewData["Title"] = "Add";
}
@model Product

<h1>Ürün Ekleme</h1>
<form asp-controller="Products" asp-action="SaveProduct" method="post">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün İsmi:</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyatı:</label>
        <input type="text" class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stoğu:</label>
        <input type="text" class="form-control" asp-for="Stock">
    </div>
    <div class="mb-3">
        <label asp-for="Color" class="form-label">Ürün Rengi:</label>
        <input type="text" class="form-control" asp-for="Color">
    </div>
    @*<label>Ürün İsmi:</label>
    <input type="text" asp-for="Name"/>
    <br />
    <label>Ürün Fiyatı:</label>
    <input type="text" asp-for="Price"/>
    <br />
    <label>Ürün Stoğu:</label>
    <input type="text" asp-for="Stock"/>
    <br />
    <label>Ürün Rengi:</label>
    <input type="text" asp-for="Color"/>
    <br />*@
    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı?
        </label>
        <div class="mb-3">
        @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" id="@(item.Value)Expire" asp-for="Expire" value="@item.Value">
                    <label class="form-check-label" asp-for="Expire" for="@(item.Value)Expire">
                    @item.Key
                </label>
            </div>
            }
        </div>
        <div class="form-floating">
            <textarea asp-for="Description" class="form-control" placeholder="Ürün Açıklama" id="floatingTextarea"></textarea>
        </div>
        <br />
    <button class="btn btn-primary" type="Submit">Kaydet</button>
</form>

